<div class="nav top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Retrace Sales Management</li>
      <li>
        <a>Opportunities</a>
        <ul class="menu vertical">
          <li><a href="/newOpportunity">Add New Opportunity</a></li>
          <li><a href="/opportunities">View All Opportunities</a></li>
        </ul>
      </li>
      <li><a href="/matches">Matches</a></li>
      <li><a href="#">Contacts</a></li>
    </ul>
  </div>
</div>