<!-- <div class="row">
	<div class="large-10 medium-10 columns medium-offset-1 opportunity-header">
		<h5>Add New Opportunity</h5>
	</div>
</div>
 -->
<div class="container">
<div class="row">
	<div class="col-lg-12 opportunity-header">
		<form action="post" id="opp-form">
		
      <div class="row">
        <div class="col-lg-12 form-group">
          <label>Manufacturer</label>
          <input type="text" placeholder="Ex. Apple, Samsung" class="opp-input form-control" ng-model="opportunity.manufacturer">
          
        </div>
      </div>

			<div class="row">
    			<div class="col-md-6 col-sm-6">
					<label>Model</label>
					<input type="text" placeholder="Ex. 6s Plus" class="opp-input form-control" ng-model="opportunity.model">
					
    		</div>
    			<div class="col-md-6 col-sm-6">
      			<label>Storage</label>
        			<input type="text" placeholder="Ex. 64GB" class="opp-input form-control" ng-model="opportunity.storage">
      			
    			</div>
  			</div>
  			
  			<div class="row">
    			<div class="col-md-6 col-sm-6">
					<label>Condition</label>
					<input type="text" placeholder="Ex. New" class="opp-input form-control" ng-model="opportunity.condition">
					
    		</div>
    			<div class="col-md-6 col-sm-6">
      			<label>Carrier</label>
        			<input type="text" placeholder="Ex. Unlocked" class="opp-input form-control" ng-model="opportunity.carrier">
      			
    			</div>
  			</div>
  			
  			<div class="row">
    			<div class="col-md-6 col-sm-6">
					<label>Color</label>
					<input type="text" placeholder="Ex. New, Like New, Good, etc." class="opp-input form-control" ng-model="opportunity.color">
    		</div>
    			<div class="col-md-6 col-sm-6">
      			<label>Country of Origin</label>
        			<input type="text" placeholder="Ex. Unlocked, AT&T, Verizon, etc." class="opp-input form-control" ng-model="opportunity.country">
    			</div>
  			</div>
  			
  			<div class="row">
    			<div class="col-md-6 col-sm-6">
					<label>Quantity</label>
					<input placeholder="Ex. New, Like New, Good, etc." class="opp-input form-control" ng-model="opportunity.quantity" />
    		</div>
    			<div class="col-md-6 col-sm-6">
      			<label>Price</label>
        			<input placeholder="Ex. Unlocked, AT&T, Verizon, etc." class="opp-input form-control" ng-model="opportunity.price" />
    			</div>
  			</div>
  			
  			<div class="row">
    			<div class="col-md-6 col-sm-6">
					<label>Sales Rep {{ salesRep }}</label>
						<select class="opp-input form-control" ng-model="salesRep">
            <option value="">Select Sales Rep</option>
						 <option ng-model="salesRep" ng-repeat="salesRep in opportunity.salesRep" value="{{salesRep}}">{{salesRep}}</option>
						</select>
    			</div>
    			<div class="col-md-6 col-sm-6">
      			<label>Type {{ bs }}</label>
        			<select class="opp-input form-control" ng-model="bs">
                <option value="">Select Opportunity Type</option>
                <option ng-model="bs" ng-repeat="type in opportunity.type track by $index" value="{{type}}">{{type}}</option>
              </select>
    			</div>
  			</div>
  			
  			<div class="row">
  				<div class="large-12 medium-12">
					<a href="#" class="large button expanded opp-button" ng-click="createOpportunity()">Create Opportunity</a>
  				</div>
  			</div>
  			
		</form>
	</div>
</div>
</div>
