/* Universal HTML Styling */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Body Styling */

body {
	font-family: 'Avenir Next';
	font-weight: 500;
}

a:link, a:visited {
	color: black;
}

/*h1, h2, h3, h4, h5, h6 {
	font-family: 'Avenir Next';
	letter-spacing: -1px;
	line-height: 2em;
	font-weight: 500;
}*/

li {
	list-style-type: none;
	display: inline-block;
}

/* Search Content */

.search {
	height: 150px;
}

/* Form Styling */

#search-bar {
	border: 0px;
	width: 100%;
	border-bottom: 3px solid yellow;
	background-color: transparent;
	height: 80px;
	font-size: 2.5em;
	font-weight: 400;
/*	font-family: 'Adriane Text';*/
	letter-spacing: -1px;
	margin: 20px 0;
}

#search-bar:focus {
	border-bottom: 3px solid deepskyblue;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

label {
	letter-spacing: 0px;
	line-height: 30px;
}

#opp-form label {
	color: deepskyblue;
	margin: 10px 0;
}

.opp-input {
	height: 40px;
	font-size: 1em;
	font-weight: 400;
	color:  #000000;
	border: 1px solid grey;
	background-color: transparent;
}

.opp-button, .opp-button:hover {
	width: 50%;
	color:  #00b35a;
	border-color:  #00b35a;
	height: 50px;
	font-size: 1.2em;
	font-weight: 100;
	border-radius: 50px;
	text-transform: uppercase;
	background-color: transparent;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* Styling for Opportunity */

.active {
	color: deepskyblue;
	font-weight: 500;
}

.filter-btn, .filter-btn:hover {
	width: 10em;
	background-color: transparent;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 10px;
	text-decoration: none;
}

/* Matches Content */

.matches-content li {
	margin: 0 10px;
}

#seller-list-header {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 2px 5px;
	background-color: #1db7c8;
	border-radius: 5px;
	color: #FFF;
}

#buyer-list-header {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 2px 5px;
	background-color: #f26e59;
	border-radius: 5px;
	color: #FFF;
}

/* */

